<head>
    <style>
        #districtdiv,#blockdiv,#panchayatdiv,#submit{
            display: none;
        }
    </style>
</head>
<body>
    <script type="text/javascript">
        function districtCall(){
            const year_s = document.getElementById('selectYears').value
            console.log(year_s)
            //document.getElementById('selectYears').disabled=true;
            document.getElementById('districtdiv').style.display="block";
        }
        function blockCall(){
            const district = document.getElementById('selectDistrict').value
            console.log(district)
            //document.getElementById('selectDistrict').disabled=true;
            document.getElementById('blockdiv').style.display="block";

        }
        function panchayatCall(){
            const blocks = document.getElementById('selectBlock').value
            console.log(blocks)
            //document.getElementById('selectBlock').disabled=true;
            document.getElementById('panchayatdiv').style.display="block";
            const panchayats = document.getElementById('selectpanchayat').value;
            console.log(panchayats);
            document.getElementById('btn').disabled=false;

        }
    </script>
<center>
    <h2><i>Choose year and district</i></h2>
    <h3>State: <%=state;%></h3>
        <form action="/login/block" method="post">
            <div class="form-group">
                <input type="hidden" class="form-control" name="state" value="<%=state%>" />
            </div>
            <div class="form-group" id="yeardiv" onchange="districtCall()">
                <label for="selectYears">Financial year:</label>
                <select id="selectYears" name="year">
                    <script>
                        window.onload = function () {
                        var years = document.getElementById("selectYears");
                        var currentYear = (new Date()).getFullYear();
                        for (var i = 2009; i < currentYear; i++) {
                            var option = document.createElement("OPTION");
                            option.innerHTML = i+" - "+ (i+1);
                            option.value = i;
                            years.appendChild(option);
                        }
                    };
                    </script>
                  </select>
            </div>
            <div class="form-group" id="districtdiv" onchange="blockCall()">
                <label for="selectDistrict">District:</label>
                <select id="selectDistrict" size="1" name="district" onchange="blockCall()">
                    <option>Select district</option>
                    <% result2.forEach(function(x){ %>
                        <option value="<%= x %>"><%=x  %></option>
                   <% }) %>
                  </select>
            </div>
            <div class="form-group" id="blockdiv" onchange="panchayatCall()">
                <label>Block:</label>
                <select id="block" name="block">
                    <option value="select block">Select block</option>
                  </select>
            </div>
            <div class="form-group" id="panchayatdiv">
                <label>Panchayat:</label>
                <select id="panchayatdiv" name="panchayat">
                    <option value="select panchayat">Select panchayat</option>
                  </select>
            </div>
            <button type="submit">Next</button>   
        </form>
        <div class="error">
            <h3><i><%=messages.error%></i></h3>
        </div>
    </center>
</body>